@charset "UTF-8";
@import "../mixins";

$wash-banner: '../images/banner/02.jpg';
$wash-banner-mobile: '../images/banner/02_m.jpg';

// 家电清洗
.sec-wash {
    .bg {
        background-image: url($wash-banner-mobile);
        background-position: center top;
        background-size: cover;
        height: 225px;
    }
    .bd {
        color: #5a5a5a;
    }
    .title-en {
        color: #21d8de;
    }
}

@media (min-width: 768px) {
    .sec-wash {
        position: relative;
        .bg {
            background-image: url($wash-banner);
            height: 450px;
        }
        .bd {
            position: absolute;
            top: 125px;
        }
    }
}

@media (min-width: 1024px) {
    .sec-wash {
        .bg {
            height: 480px;
        }
        .bd {
            top: 125px;
        }
    }
}

@media (min-width: 1240px) {
    .sec-wash {
        .bg {
            height: 520px;
        }
        .bd {
            top: 150px;
        }
    }
}

@media (min-width: 1880px) {
    .sec-wash {
        .bg {
            height: 829px;
        }
        .bd {
            top: 270px;
        }
    }
}

