@charset "UTF-8";
@import "../mixins";
@import "../utilities";

.fixed-bottom-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.bar-cont{
  height: 3.4rem;
  width: 100%;
  background-color: #ffffff;
  text-align: right;
  box-shadow: 0px -1px 3px #cccccc;
  display: table;
  .tab-cell{
    display: table-cell;
    text-align: center;
  }
  .tab-cell.col-1{
    padding-right: 0.5rem;
  }
  a{
    text-decoration: none;
  }
  .btn-call-phone{
    display: inline-block;
    margin-top: 0.5rem;
    vertical-align: middle;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
    background-color: #ffb836;
    color: #ffffff;
    border-radius: 4px;
    padding: 0rem 0.4rem;
  }
  .phone-number-icon{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
  }
  .icon-call{
    display: inline-block;
    vertical-align: middle;
    height: 1.5rem;
  }
  .btn-open{
    width: 7.8rem;
    max-width: 90%;
    height: 2.2rem;
    margin-top: 0.5rem;
    line-height: 2.2rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #00bbff;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
  }
  .btn-open:active{
    box-shadow: 1px 1px 3px #cccccc;
  }
}
.fixed-mask-layer{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 3;
}
.fixed-bottom-form{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10001;
  .form-content{
    position: relative;
    background-color: #ffffff;
    padding: 0.5rem 1.5rem 0.4rem 1.5rem;
    position: relative;
    .form-title{
      position: relative;
      font-size: 1.2rem;
      text-align: center;
      font-weight: 500;
      z-index: 1;
      margin-bottom: 0.5rem;
      .title-span{
        background-color: #ffffff;
        padding: 0 1rem;
        z-index: 2;
        color: #00bbff;
      }
      &:after{
        z-index: -1;
        content: " ";
        position: absolute;
        border-bottom: 1px solid #00bbff;
        width: 100%;
        left: 0;
        top: 50%;
      }
    }
    .input-row{
      margin-bottom: 0.5rem;
      white-space: nowrap;
      .input-txt{
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
        height: 2.5rem;
      }
      .btn-get-code{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #cccccc;
        border-radius: 4px;
        background-color: #F2F5F7;
        font-size: 1rem;
        height: 2.5rem;
        line-height: 2.5rem;
        color: #666666;
        margin-left: 5%;
      }
      .btn-get-code:active{
        box-shadow: 1px 1px 3px #cccccc;
      }
      .btn-get-code.disabled{
        color: #c0c0c0;
      }
      .input-txt-area{
        display: inline-block;
        font-size: 0.8rem;
        border: 1px solid #cccccc;
        color: #666666;
        padding: 0.4rem 0.6rem;
        resize:none;
        border-radius: 4px;
        height: 4rem;
      }
      .col-100{
        width: 100%;
      }
      .col-50{
        width: 50%;
      }
      .col-45{
        width: 45%;
      }
    }
    .item-title{
      font-size: 1rem;
      line-height: 1.2rem;
      padding-bottom: 0.4rem;
      .main-char{
        color: #00bbff;
      }
      .minor-char{
        color: #666666;
      }
    }
    .sui-check-box{
      margin-bottom: 0.5rem;
      .check-item{
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 4px;
        line-height: 1.2rem;
        padding: 0.3rem 0.4rem;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        color: #666666;
        margin-right: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .check-item.checked{
        border: 1px solid #00BCFF;
        background-color: #00BCFF;
        color: #ffffff;
      }
    }
    .btn-box{
      width: 100%;
      padding: 0 0 0.5rem 0;
      .btn-submit{
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        line-height: 2.5rem;
        color: #ffffff;
        background-color: #00BCFF;
        text-align: center;
        border-radius: 4px;
      }
      .btn-submit:active{
        box-shadow: 1px 1px 3px #cccccc;
      }
    }
  }
}